* {
  line-height: 140%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  /*Sets font size, background colour, and text colour for the whole webpage*/
  font-size: 30px;
  background-color: #d4e5ed;
  color: #171d3b;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 58px;
}

nav {
  overflow: hidden; /* hides the overflow of some tag to make it look cleaner */
  background-color: #d4e5ed; /*sets nave background colour */
  position: fixed; /*Lets nav follow along with the page and always stay at the top*/
  top: 0px; /*Sticks the nav to the top of the page */
  padding: 15px;
  left: 0; /* makes nav go all the way to the left*/
  right: 0; /* makes nav go all the way to the right*/
  font-size: 16px;
  z-index: +1; /*Set the layering above other text so the nav is always on top */
}
.nav-link {
  padding: 2vh 1vw;
  color: #171d3b;
  text-decoration: none; /*Removes underline*/
}
.nav-link:hover {
  background-color: #171d3b; /*Makes text light up a bit when hovered over*/
  color: #d4e5ed;
}
header {
  position: relative;

  /*Sets header a little ways down from nav so it looks nicer, put on
   external so I won't have to put in custom margins all the time */
  margin-left: 5%;
  /* margin-top: 10%; */
}
main {
  margin: 60px; /*brings out the content away from the sides */
}
#nav-name {
  /*Adds Zenith Kramp name on nav, not clickable, just looks nice */
  position: static;
  color: #171d3b;
  display: inline;
  float: right;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-weight: 100;
}
