/*
  I chose a blue colour family to represent my 
  client's website because it's purpose is to be
  an eportfolio to show to employers. Since blue
  represents trust and dependability (which is 
  important to look for when hiring a new employee)
  I chose it to be the colour family for this website.
*/

/*
  Sets the line height to 140% and sets the
  font to first Verdana but if that's not available
  then Geneva, but if that's not available 
  then Tahoma, and finally, if that's not available
  then it defaults to sans-serif. Elements in
  here apply to everything
*/
* {
  line-height: 140%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
  Sets the font size for everything in the 
  body to 30px, also changes the background
  colour to #d4e5ed and text colour to #171d3b
*/
body {
  font-size: 1.9vw;
  background-color: #d4e5ed;
  color: #171d3b;
}

@media screen and (max-width: 750px) {
  h1 {
    margin-top: 10%;
  }
}

/*
  Changes the h1 font size to 128px
*/
h1 {
  font-size: 8vw;
}
/*
  Changes the h2 font size to 58px 
*/
h2 {
  font-size: 3.6vw;
}

/*
  Hides anything that flows over the nav, sets 
  the background colour to #d4e5ed, sets the 
  position to fixed so the nav always stay at 
  the top of the page, sets to top value to 0
  so it sticks to the very top of the page, sets
  the padding to 15px, sets left and right to 0 
  so the nav goes to the sides of the page, sets the 
  nav font size to 16px, and sets the z-index to 
  +1 so the nav is always on top 
*/
nav {
  overflow: hidden;
  background-color: #d4e5ed;
  position: fixed;
  top: 0px;
  padding: 15px;
  left: 0;
  right: 0;
  font-size: 1vw;
  z-index: +1;
}

/*
  For the links in the nav, sets the top and 
  bottom padding to 23px and right and left 
  padding to 15px, and sets text decoration to 
  none so there's no underline
*/
.nav-link {
  padding: 2% 1%;
  text-decoration: none;
  font-weight: bold;
  color: #171d3b;

  -o-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}
/*
  When hovering and tabbed over the links in the nav, changes
  the background colour to #171d3b and text colour
  to #d4e5ed
*/
.nav-link:hover,
.nav-link:focus {
  background-color: #171d3b;
  color: #d4e5ed;
}

/*
  Sets the header position to relative and adds a left
  margin value to 5%
*/
header {
  position: relative;
  margin-left: 5%;
}

/*
  Sets the main margin to 60px to bring the content away
  from the sides
*/
main {
  margin: 60px;
}

/*
  Adds an unclickable name on the nav, sets the position 
  to static, changes display to inline, makes it float to
  the right, sets margin and padding to 0, sets font size
  20px, and sets font weight to 100
*/
#nav-name {
  position: static;
  display: inline;
  float: right;
  padding: 0px;
  margin: 0px;
  font-size: 1.25vw;
  font-weight: 100;
}
